[user]
	name = Andrei Ujica
	email = andrei.uji22@gmail.com

[core]
	editor = nvim

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[alias]
	undo = reset --soft HEAD~1
